@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.groups {
    background-color: #eeeeee;
    width: 100%;
}

.groups_list {
    list-style: none;
    height: 90vh;
    width: 100%;
    gap: 17px;

    display: grid;
    grid-template-rows: 75px;
    grid-template-columns: 90%;
    grid-auto-rows: 75px;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding: 0;

    overflow-y: scroll;
}

.group {
    border-radius: 20px;
}

.group:hover {
    border-width: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.088), -5px 5px 10px rgba(0, 0, 0, 0.088);
}

.group:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.038), -5px 5px 10px rgba(0, 0, 0, 0.088);
}

.is_online {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: relative;
    bottom: 5px;
    left: 10px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50px;
    border-color: #eeeeee;
}

.group_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.group_name_and_message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.group_name {
    font-family: "Josefin Sans", serif;
    padding: 0;
    margin: 0;
    color: black;
}

.group_last_message {
    font-family: "Josefin Sans", serif;
    color: gray;
    padding: 0;
    margin: 0;

    font-size: 0.9rem;
}

.group_unread {
    border-radius: 12px;
    padding: 6px 11px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.group_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.group_img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: whitesmoke;
}

.link {
    display: grid;
    grid-template-columns: 80px 260px;
    padding-right: 10px;
    cursor: pointer;
    height: 75px;

    border-radius: 20px;
}

@media (max-width: 850px) {
    .groups_list {
        height: 80vh;
    }
}

@media (max-width: 500px) {
    .groups_list {
        height: 80vh;
    }

    .group:hover {
        border-width: 0px;
        box-shadow: none;
    }

    .group:active {
        border-width: 1px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.088), -5px 5px 10px rgba(0, 0, 0, 0.088);
    }
}

@media(max-width: 450px) {
    .link {
        padding: 0;
    }
}

@media (max-width: 400px) {
    .link {
        grid-template-columns: 80px 220px;
    }
}

@media (max-width: 350px) {
    .link {
        grid-template-columns: 70px 200px;
    }
}